<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>

<%- include('../partials/navigation') %>

<main class="container">
    <div class="row">
        <% if (products.length > 0) { %>
            <h1 class="text-capitalize">Products List</h1>
            <% products.forEach(product => { %>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <p class="card-text"><%= product.body %></p>
                            <a href="#" class="btn btn-primary">More Details </a>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col-12">
                <h1 class="lead">No Products Found</h1>
            </div>
        <% } %>

    </div>
</main>

<footer class="container py-5">
    <%- include('../partials/footer') %>
</footer>
</body>
</html>
